.createNewSupplier-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: scroll;
  background: rgba(253, 253, 253, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.createNewSupplier-container::-webkit-scrollbar {
  display: none;
}
/* status */
.createNewSupplier-Status-draft {
  background-color: rgba(250, 204, 21, 1);
}
.createNewSupplier-Status-Submitted {
  background-color: rgba(140, 216, 188, 1);
}
.createNewSupplier-Status-PartiallyReceived {
  background-color: rgba(255, 156, 81, 1);
}
.createNewSupplier-Status-Cancelled {
  background-color: rgba(255, 77, 79, 1);
}
.createNewSupplier-Status-Received {
  background-color: rgba(229, 231, 235, 1);
}
/* head */
.createNewSupplier-head {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
  margin-bottom: 30px;
}
.createNewSupplier-head > nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  width: max-content;
}
.createNewSupplier-head > div {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap-reverse;
  width: max-content;
}
.createNewSupplier-head > nav > p {
  font-size: 22px;
  font-weight: 600;
  color: rgba(35, 78, 112, 1);
}
.createNewSupplier-head > nav > h3 {
  font-size: 14px;
  font-weight: 600;
  color: rgba(26, 26, 26, 1);
  padding: 6px 9px;
  border-radius: 8px;
}
.createNewSupplier-close {
  cursor: pointer;
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.createNewSupplier-circle-x-logo {
  width: 15px;
  height: 15px;
  fill: rgba(255, 77, 79, 1);
}
.createNewSupplier-close > p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 77, 79, 1);
}
/* createNewSupplier-input-container */
.createNewSupplier-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: row;
  padding: 8px 0;
}
.createNewSupplier-input-box {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3px;
}

.createNewSupplier-input-box > label {
  font-size: 14px;
  font-weight: 500;
  color: rgba(42, 42, 42, 1);
}
.createNewSupplier-input-box > label > sup {
  color: red;
}
.createNewSupplier-subtit > sup {
  color: red;
}
.createNewSupplier-subtit {
  font-size: 18px;
  font-weight: 600;
  color: rgba(35, 78, 112, 1);
  padding: 15px 0 10px 0;
}

.createNewSupplier-input-box > input,
.createNewSupplier-input-box > select {
  border: 2px solid rgba(226, 226, 226, 1);
  background-color: rgba(249, 249, 249, 1);
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 18px;
}
.createNewSupplier-input-box > input:focus,
.createNewSupplier-input-box > select:focus {
  border: 2px solid rgba(35, 78, 112, 1);
  background-color: #fff;
  color: rgba(1, 19, 52, 1);
}
.createNewSupplier-input-box > input::placeholder,
.createNewSupplier-input-box > select::placeholder {
  color: rgba(176, 176, 176, 1);
}
/* table */
.createNewSupplier-table-delete-logo {
  width: 14px;
  height: 16px;
  fill: #234e70;
  margin: auto;
  cursor: pointer;
}
.createNewSupplier-table-delete-logo.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
.createNewSupplier-table-container {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: lightgray;
  margin-bottom: 50px;
}
.createNewSupplier-table-container > table {
  width: 100%;
  border: 1px solid hsla(0, 0%, 0%, 0.119);
  background: #fff;
  border-radius: 4px;
}
.createNewSupplier-table-head > tr > th {
  font-size: 16px;
  font-weight: 500;
  color: rgba(35, 78, 112, 1);
  padding: 15px 20px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.119);
}
.createNewSupplier-table-body > tr {
  background: rgba(253, 253, 253, 1);
}
.createNewSupplier-table-body > tr > td {
  font-size: 14px;
  font-weight: 400;
  color: rgba(26, 26, 26, 1);
  padding: 15px 20px;
  background: rgba(253, 253, 253, 1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.119);
  text-align: start;
}
.createNewSupplier-table-body > tr > td > select,
.createNewSupplier-table-body > tr > td > button,
.createNewSupplier-table-body > tr > td > input {
  padding: 5px 8px;
  border-radius: 4px;
  border: 2px solid rgba(224, 228, 231, 1);
  background: rgba(253, 253, 253, 1);
  cursor: pointer;
}
/* Order Summary */
/* createNewSupplier-totals-container */
.createNewSupplier-totals-container {
  width: 100%;
  border: 1px solid rgba(35, 78, 112, 0.12);
  border-radius: 4px;
}
.createNewSupplier-totals-container > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px;
  border: 1px solid rgba(35, 78, 112, 0.12);
}
.createNewSupplier-totals-container-bg {
  background-color: rgba(35, 78, 112, 0.05);
}
.createNewSupplier-totals-container > nav > h5,
.createNewSupplier-totals-container > nav > p {
  color: rgba(26, 26, 26, 1);
  font-size: 16px;
  font-weight: 400;
}
.createNewSupplier-totals-container > nav > input {
  padding: 5px 8px;
  border-radius: 4px;
  border: 2px solid rgba(224, 228, 231, 1);
  background: rgba(253, 253, 253, 1);
}
/* button container */
.createNewSupplier-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  padding: 50px 0;
  flex-wrap: wrap-reverse;
}
.createNewSupplier-btn-container > nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
}
/* button state */
.createNewSupplier-active-btn {
  padding: 5px 15px;
  border-radius: 6px;
  border: 2px solid rgba(35, 78, 112, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: rgba(35, 78, 112, 1);
  width: max-content;
  cursor: pointer;
}
.createNewSupplier-inactive-btn {
  padding: 5px 15px;
  border-radius: 6px;
  border: 2px solid rgba(176, 176, 176, 1);
  color: rgba(176, 176, 176, 1);
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  width: max-content;
  cursor: pointer;
}
.createNewSupplier-completed-btn {
  padding: 5px 15px;
  border-radius: 6px;
  border: 2px solid rgba(35, 78, 112, 0.5);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  background: rgba(35, 78, 112, 0.5);
  width: max-content;
  cursor: pointer;
}
.createNewSupplier-cancel-btn {
  padding: 5px 15px;
  border-radius: 6px;
  border: 2px solid rgba(35, 78, 112, 1);
  color: rgba(35, 78, 112, 1);
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  width: max-content;
  cursor: pointer;
}
.createNewSupplier-order-active-btn {
  padding: 5px 15px;
  border-radius: 6px;
  border: 2px solid rgba(255, 77, 79, 1);
  color: rgba(255, 77, 79, 1);
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  width: max-content;
  cursor: pointer;
}
.createNewSupplier-pdf-mail-activelogo {
  width: 38px;
  height: 38px;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  background: rgba(35, 78, 112, 1);
  fill: white;
  border: 2px solid rgba(35, 78, 112, 1);
}
.createNewSupplier-pdf-mail-futurelogo {
  width: 38px;
  height: 38px;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  background: white;
  fill: rgba(176, 176, 176, 1);
  border: 2px solid rgba(176, 176, 176, 1);
}
/* hub-container */

.createNewSupplier-hub-container {
  width: 100%;
  border: 2px solid rgba(35, 78, 112, 0.12);
  border-radius: 4px;
  margin-top: 50px;
}
.createNewSupplier-hub-head {
  width: 100%;
  background-color: rgba(35, 78, 112, 0.05);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 24px;
  gap: 25px;
}
.createNewSupplier-hub-head-tit {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: rgba(35, 78, 112, 1);
}
.createNewSupplier-hub-head-bg-black {
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.createNewSupplier-hub-body {
  width: 100%;
}

/* comment */
.createNewSupplier-comment-container,
.createNewSupplier-attachment-container {
  padding: 20px;
  width: 100%;
}
.createNewSupplier-comment-container > p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(26, 26, 26, 1);
  padding-bottom: 15px;
}
.createNewSupplier-comment-container > form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
.createNewSupplier-comment-container > form > input {
  border-radius: 10px;
  background-color: rgba(244, 244, 244, 1);
  padding: 8px 18px;
  color: rgba(26, 26, 26, 1);
  border: 0px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
.createNewSupplier-comment-container > form > input::placeholder {
  color: rgba(176, 176, 176, 1);
}
.createNewSupplier-comment-container > form > input:focus {
  outline: none;
}
.createNewSupplier-comment-container > form > button {
  color: #fff;
  background-color: rgba(35, 78, 112, 1);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 14px;
  border: none;
}
.createNewSupplier-comment-brline {
  margin: 15px 0;
  width: 100%;
  height: 1px;
  background-color: rgba(224, 228, 231, 1);
}
.createNewSupplier-showarea {
  width: 100%;
}
.createNewSupplier-message-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 20px;
  margin: 30px 5px;
}
.createNewSupplier-comment-profile-logo,
.createNewSupplier-history-profile-logo,
.createNewSupplier-status-logo {
  min-width: 24px !important;
  min-height: 24px !important;
  max-width: 24px !important;
  max-height: 24px !important;
}
.createNewSupplier-history-mail-logo {
  min-width: 20px !important;
  min-height: 16px !important;
  max-width: 20px !important;
  max-height: 16px !important;
}
.createNewSupplier-message-box {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.createNewSupplier-message-box > p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(35, 78, 112, 1);
}
.createNewSupplier-message-box > nav {
  color: rgba(26, 26, 26, 1);
  font-size: 14px;
  font-weight: 400;
}
/* history */
.createNewSupplier-history-container {
  padding: 0 20px;
  width: 100%;
}
.createNewSupplier-statusChange-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}
.createNewSupplier-statusChange-container:first-child {
  border-bottom: 3px dotted rgba(224, 228, 231, 1);
}
.createNewSupplier-status-head {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.createNewSupplier-status-head > p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(26, 26, 26, 1);
}
.createNewSupplier-status-detailes {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 13px;
}
.createNewSupplier-status-detailes > nav {
  display: flex;
  justify-items: start;
  align-items: start;
  gap: 10px;
}
.createNewSupplier-status-detailes > nav > p {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.createNewSupplier-status-detailes > nav > p > span {
  color: rgba(35, 78, 112, 1);
}
/* attachment */
.createNewSupplier-upload-btn {
  border: 2px solid rgba(35, 78, 112, 1);
  border-radius: 12px;
  background-color: rgba(249, 249, 249, 1);
  font-size: 16px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: max-content;
  cursor: pointer;
  padding: 8px 14px;
  margin-bottom: 5px;
}
.createNewSupplier-upload-btn > nav {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.createNewSupplier-attached-files {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin: 20px 0 15px 0;
}
.createNewSupplier-attached-files > p {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.createNewSupplier-file-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;
}
.createNewSupplier-file-item > nav {
  font-size: 14px;
  font-weight: 500;
  color: rgba(26, 26, 26, 1);
}
.createNewSupplier-file-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: start;
  align-items: center;
}
.createNewSupplier-file-actions > a {
  padding: 5px 14px;
  border-radius: 6px;
  border: 2px solid rgba(35, 78, 112, 1);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background: rgba(35, 78, 112, 1);
  text-decoration: none;
}
.createNewSupplier-file-actions > button {
  padding: 5px 14px;
  border-radius: 6px;
  border: 2px solid rgba(255, 77, 79, 1);
  color: rgba(255, 77, 79, 1);
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  margin-right: 20px;
}
@media (max-width: 500px) {
  .createNewSupplier-totals-container > nav {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3px;
  }
  .createNewSupplier-totals-container > nav > input {
    width: 100%;
  }
  .createNewSupplier-hub-head {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .createNewSupplier-input-container {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .createNewSupplier-btn-container {
    justify-content: end;
  }
}
